In [1]:
import pandas as pd
import csv

In [2]:
nodes=pd.read_csv('train/train.csv')
node_feat=pd.read_csv('train/user_features.csv')
testdata=pd.read_csv('test/test.csv')

In [3]:
nodes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70661802 entries, 0 to 70661801
Data columns (total 3 columns):
node1_id    int64
node2_id    int64
is_chat     int64
dtypes: int64(3)
memory usage: 1.6 GB

In [4]:
nodes.columns

Index(['node1_id', 'node2_id', 'is_chat'], dtype='object')

In [5]:
nodes.node1_id=nodes.node1_id.astype('uint32')
nodes.node2_id=nodes.node2_id.astype('uint32')
nodes.is_chat=nodes.is_chat.astype('uint8')

In [6]:
nodes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70661802 entries, 0 to 70661801
Data columns (total 3 columns):
node1_id    uint32
node2_id    uint32
is_chat     uint8
dtypes: uint32(2), uint8(1)
memory usage: 606.5 MB

In [7]:
nodes['node1_id'].nunique()

3528628

In [8]:
nodes['node2_id'].nunique()

7935955

In [9]:
node_feat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8264276 entries, 0 to 8264275
Data columns (total 14 columns):
node_id    int64
f1         int64
f2         int64
f3         int64
f4         int64
f5         int64
f6         int64
f7         int64
f8         int64
f9         int64
f10        int64
f11        int64
f12        int64
f13        int64
dtypes: int64(14)
memory usage: 882.7 MB

In [10]:
node_feat.node_id=node_feat.node_id.astype('uint32')
node_feat.f1=node_feat.f1.astype('uint8')
node_feat.f2=node_feat.f2.astype('uint8')
node_feat.f3=node_feat.f3.astype('uint8')
node_feat.f4=node_feat.f4.astype('uint8')
node_feat.f5=node_feat.f5.astype('uint8')
node_feat.f6=node_feat.f6.astype('uint8')
node_feat.f7=node_feat.f7.astype('uint8')
node_feat.f8=node_feat.f8.astype('uint8')
node_feat.f9=node_feat.f9.astype('uint8')
node_feat.f10=node_feat.f10.astype('uint8')
node_feat.f11=node_feat.f11.astype('uint8')
node_feat.f12=node_feat.f12.astype('uint8')
node_feat.f13=node_feat.f13.astype('uint8')

In [11]:
node_feat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8264276 entries, 0 to 8264275
Data columns (total 14 columns):
node_id    uint32
f1         uint8
f2         uint8
f3         uint8
f4         uint8
f5         uint8
f6         uint8
f7         uint8
f8         uint8
f9         uint8
f10        uint8
f11        uint8
f12        uint8
f13        uint8
dtypes: uint32(1), uint8(13)
memory usage: 134.0 MB

In [12]:
testdata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11776968 entries, 0 to 11776967
Data columns (total 3 columns):
id          int64
node1_id    int64
node2_id    int64
dtypes: int64(3)
memory usage: 269.6 MB

In [13]:
testdata.node1_id=testdata.node1_id.astype('uint32')
testdata.node2_id=testdata.node2_id.astype('uint32')
testdata.id=testdata.id.astype('uint32')

In [14]:
testdata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11776968 entries, 0 to 11776967
Data columns (total 3 columns):
id          uint32
node1_id    uint32
node2_id    uint32
dtypes: uint32(3)
memory usage: 134.8 MB

In [15]:
a=pd.merge(testdata,node_feat,how='left',left_on='node1_id',right_on='node_id')

In [16]:
del a['node_id']

In [17]:
b=pd.merge(a,node_feat,how='left',left_on='node2_id',right_on='node_id',suffixes=('_left', '_right'))

In [18]:
del b['node_id']

In [19]:
import numpy as np
b['f1_diff']=(b['f1_left']-b['f1_right']).astype('int8')
b['f2_diff']=(b['f2_left']-b['f2_right']).astype('int8')
b['f3_diff']=(b['f3_left']-b['f3_right']).astype('int8')
b['f4_diff']=(b['f4_left']-b['f4_right']).astype('int8')
b['f5_diff']=(b['f5_left']-b['f5_right']).astype('int8')
b['f6_diff']=(b['f6_left']-b['f6_right']).astype('int8')
b['f7_diff']=(b['f7_left']-b['f7_right']).astype('int8')
b['f8_diff']=(b['f8_left']-b['f8_right']).astype('int8')
b['f9_diff']=(b['f9_left']-b['f9_right']).astype('int8')
b['f10_diff']=(b['f10_left']-b['f10_right']).astype('int8')
b['f11_diff']=(b['f11_left']-b['f11_right']).astype('int8')
b['f12_diff']=(b['f12_left']-b['f12_right']).astype('int8')
b['f13_diff']=(b['f13_left']-b['f13_right']).astype('int8')

In [20]:
b.loc[:,['f2_left','f2_right']].head()

   f2_left  f2_right
0        6        24
1        0         0
2        1         0
3        5         0
4       31         0

In [21]:
feat=b.loc[:,['f1_diff','f2_diff','f3_diff','f4_diff','f5_diff','f6_diff','f7_diff','f8_diff','f9_diff','f10_diff','f11_diff','f12_diff','f13_diff']]

In [22]:
feat.head()

,f1_diff,f2_diff,f3_diff,f4_diff,f5_diff,f6_diff,f7_diff,f8_diff,f9_diff,f10_diff,f11_diff,f12_diff,f13_diff
0,0,-18,-1,0,-18,-2,0,-17,-2,0,-17,-3,0
1,0,0,0,0,0,0,0,0,0,6,0,0,0
2,1,1,1,0,0,0,0,0,0,0,0,0,0
3,14,5,1,12,4,1,5,2,1,-1,-1,0,0
4,31,31,31,31,31,31,30,30,29,30,30,29,0

In [23]:
fsame=(feat==0).astype(int).sum(axis=1)
fsame1=(feat==1).astype(int).sum(axis=1)
fsame2=(feat==2).astype(int).sum(axis=1)
fsame3=(feat==3).astype(int).sum(axis=1)
fsame4=(feat==4).astype(int).sum(axis=1)

In [24]:
f=fsame+fsame1+fsame2+fsame3+fsame4

In [25]:
f.head()

0     5
1    12
2    13
3     7
4     1
dtype: int64

In [26]:
prediction=pd.concat([testdata,pd.DataFrame(f)],axis=1)

In [27]:
prediction['prob']=prediction[0]/13

In [28]:
prediction.loc[:,['id','prob']].to_csv('Submission3.csv',index=False)

In [29]:
edges=nodes[nodes['is_chat']==1]

In [30]:
edges.head()

    node1_id  node2_id  is_chat
7    7159649   7791327        1
19   4771042    998845        1
59   3079025   3410678        1
82   3651503   3656309        1
93   6434643   1107217        1

In [31]:
edges=edges.sort_values(by=['node1_id','node2_id'])

In [33]:
edges.head()

          node1_id  node2_id  is_chat
10107341         8   2281445        1
187484          10    464456        1
46772173        10   1225900        1
11103564        10   4123946        1
28471617        10   5481388        1

In [34]:
x=np.concatenate((edges['node1_id'].unique(),edges['node2_id'].unique()))
x.size

2572226

In [35]:
len(np.unique(x))

1899068

In [36]:
train1=nodes.sample(frac=0.1,replace=False,random_state=28)

In [37]:
train1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7066180 entries, 2250101 to 17970744
Data columns (total 3 columns):
node1_id    uint32
node2_id    uint32
is_chat     uint8
dtypes: uint32(2), uint8(1)
memory usage: 114.6 MB

In [38]:
train1=pd.merge(train1,node_feat,how='left',left_on='node1_id',right_on='node_id')

In [39]:
train1=pd.merge(train1,node_feat,how='left',left_on='node2_id',right_on='node_id',suffixes=('_left', '_right'))

In [40]:
train1.columns

Index(['node1_id', 'node2_id', 'is_chat', 'node_id_left', 'f1_left', 'f2_left',
       'f3_left', 'f4_left', 'f5_left', 'f6_left', 'f7_left', 'f8_left',
       'f9_left', 'f10_left', 'f11_left', 'f12_left', 'f13_left',
       'node_id_right', 'f1_right', 'f2_right', 'f3_right', 'f4_right',
       'f5_right', 'f6_right', 'f7_right', 'f8_right', 'f9_right', 'f10_right',
       'f11_right', 'f12_right', 'f13_right'],
      dtype='object')

In [41]:
del train1['node_id_left']
del train1['node_id_right']

In [42]:
train1.columns

Index(['node1_id', 'node2_id', 'is_chat', 'f1_left', 'f2_left', 'f3_left',
       'f4_left', 'f5_left', 'f6_left', 'f7_left', 'f8_left', 'f9_left',
       'f10_left', 'f11_left', 'f12_left', 'f13_left', 'f1_right', 'f2_right',
       'f3_right', 'f4_right', 'f5_right', 'f6_right', 'f7_right', 'f8_right',
       'f9_right', 'f10_right', 'f11_right', 'f12_right', 'f13_right'],
      dtype='object')

In [43]:
X_test=b.copy()

In [44]:
del X_test['f1_diff']
del X_test['f2_diff']
del X_test['f3_diff']
del X_test['f4_diff']
del X_test['f5_diff']
del X_test['f6_diff']
del X_test['f7_diff']
del X_test['f8_diff']
del X_test['f9_diff']
del X_test['f10_diff']
del X_test['f11_diff']
del X_test['f12_diff']
del X_test['f13_diff']

In [45]:
X_train=train1.loc[:,['f1_left', 'f2_left', 'f3_left',
       'f4_left', 'f5_left', 'f6_left', 'f7_left', 'f8_left', 'f9_left',
       'f10_left', 'f11_left', 'f12_left', 'f13_left', 'f1_right', 'f2_right',
       'f3_right', 'f4_right', 'f5_right', 'f6_right', 'f7_right', 'f8_right',
       'f9_right', 'f10_right', 'f11_right', 'f12_right', 'f13_right']].values

In [46]:
y=train1['is_chat'].values

In [47]:
import lightgbm as lgb
d_train = lgb.Dataset(X_train, label=y)
params = {
    'objective' :'binary',
    'learning_rate' : 0.1,
    'num_leaves' : 76,
    'feature_fraction': 0.64, 
    'bagging_fraction': 0.8, 
    'boosting_type' : 'gbdt',
    'metric': 'binary_logloss'
}
model1 = lgb.train(params, train_set=d_train, num_boost_round=3200, verbose_eval=50)

In [49]:
X_test=b.loc[:,['f1_left', 'f2_left', 'f3_left',
       'f4_left', 'f5_left', 'f6_left', 'f7_left', 'f8_left', 'f9_left',
       'f10_left', 'f11_left', 'f12_left', 'f13_left', 'f1_right', 'f2_right',
       'f3_right', 'f4_right', 'f5_right', 'f6_right', 'f7_right', 'f8_right',
       'f9_right', 'f10_right', 'f11_right', 'f12_right', 'f13_right']].values

In [50]:
pred=model1.predict(X_test)

In [53]:
prediction1=pd.concat([testdata,pd.Series(pred)],axis=1)

In [57]:
d=prediction1.loc[:,['id',0]]

In [59]:
d.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11776968 entries, 0 to 11776967
Data columns (total 2 columns):
id    uint32
0     float64
dtypes: float64(1), uint32(1)
memory usage: 134.8 MB

In [58]:
d.to_csv('Submission5.csv',index=False)

In [60]:
params = {
    'objective' :'binary',
    'learning_rate' : 0.01,
    'num_leaves' : 76,
    'feature_fraction': 0.64, 
    'bagging_fraction': 0.8, 
    'boosting_type' : 'gbdt',
    'metric': 'binary_logloss'
}
model2 = lgb.train(params, train_set=d_train, num_boost_round=3200, verbose_eval=50)

In [62]:
pred2=model2.predict(X_test)
prediction2=pd.concat([testdata,pd.Series(pred2).astype('float32')],axis=1)

In [63]:
e=prediction2.loc[:,['id',0]]
e.to_csv('Submission6.csv',index=False)

In [67]:
neighbors=edges.groupby('node1_id').count()

In [69]:
neighbors.head()

          node2_id  is_chat
node1_id
8                1        1
10               6        6
15               1        1
20               4        4
22               1        1

In [68]:
neighbors2=edges.groupby('node2_id').count()

In [70]:
neighbors2.head()

          node1_id  is_chat
node2_id
3                2        2
6                1        1
8                1        1
9                1        1
10               7        7

In [71]:
train1=pd.merge(train1,neighbors,how='left',left_on='node1_id',right_index=True,suffixes=('_left', '_right'))

In [74]:
del train1['node2_id_right']

In [82]:
train1.columns

Index(['node1_id', 'node2_id_left', 'is_chat_left', 'f1_left', 'f2_left',
       'f3_left', 'f4_left', 'f5_left', 'f6_left', 'f7_left', 'f8_left',
       'f9_left', 'f10_left', 'f11_left', 'f12_left', 'f13_left', 'f1_right',
       'f2_right', 'f3_right', 'f4_right', 'f5_right', 'f6_right', 'f7_right',
       'f8_right', 'f9_right', 'f10_right', 'f11_right', 'f12_right',
       'f13_right', 'nbrs1'],
      dtype='object')

In [79]:
train1['nbrs1']=train1['is_chat_right'].fillna(0)

In [81]:
del train1['is_chat_right']

In [84]:
train1=pd.merge(train1,neighbors2,how='left',left_on='node2_id_left',right_index=True,suffixes=('_left', '_right'))

In [87]:
train1['nbrs2']=train1['is_chat'].fillna(0)

In [89]:
del train1['node1_id_right']
del train1['is_chat']

In [91]:
train1.columns

Index(['node1_id_left', 'node2_id_left', 'is_chat_left', 'f1_left', 'f2_left',
       'f3_left', 'f4_left', 'f5_left', 'f6_left', 'f7_left', 'f8_left',
       'f9_left', 'f10_left', 'f11_left', 'f12_left', 'f13_left', 'f1_right',
       'f2_right', 'f3_right', 'f4_right', 'f5_right', 'f6_right', 'f7_right',
       'f8_right', 'f9_right', 'f10_right', 'f11_right', 'f12_right',
       'f13_right', 'nbrs1', 'nbrs2'],
      dtype='object')

In [92]:
X_train2=train1.loc[:,['f1_left', 'f2_left', 'f3_left',
       'f4_left', 'f5_left', 'f6_left', 'f7_left', 'f8_left', 'f9_left',
       'f10_left', 'f11_left', 'f12_left', 'f13_left', 'f1_right', 'f2_right',
       'f3_right', 'f4_right', 'f5_right', 'f6_right', 'f7_right', 'f8_right',
       'f9_right', 'f10_right', 'f11_right', 'f12_right', 'f13_right','nbrs1', 'nbrs2']].values

In [93]:
y=train1['is_chat_left'].values

In [94]:
import lightgbm as lgb
d_train = lgb.Dataset(X_train2, label=y)
params = {
    'objective' :'binary',
    'learning_rate' : 0.01,
    'num_leaves' : 76,
    'feature_fraction': 0.64, 
    'bagging_fraction': 0.8, 
    'boosting_type' : 'gbdt',
    'metric': 'binary_logloss'
}
model3 = lgb.train(params, train_set=d_train, num_boost_round=3200, verbose_eval=50)

In [97]:
X_test2=b.copy()

In [99]:
del X_test2['f1_diff']
del X_test2['f2_diff']
del X_test2['f3_diff']
del X_test2['f4_diff']
del X_test2['f5_diff']
del X_test2['f6_diff']
del X_test2['f7_diff']
del X_test2['f8_diff']
del X_test2['f9_diff']
del X_test2['f10_diff']
del X_test2['f11_diff']
del X_test2['f12_diff']
del X_test2['f13_diff']

In [100]:
X_test2=pd.merge(X_test2,neighbors,how='left',left_on='node1_id',right_index=True,suffixes=('_left', '_right'))

In [102]:
del X_test2['node2_id_right']

In [109]:
X_test2.head()

,id,node1_id_left,node2_id_left,f1_left,f2_left,f3_left,f4_left,f5_left,f6_left,f7_left,...,f7_right,f8_right,f9_right,f10_right,f11_right,f12_right,f13_right,nbrs1,node1_id_right,is_chat
0,1,7107094,8010772,31,6,1,31,6,1,31,...,31,25,3,31,26,4,15,0.0,NaN,NaN
1,2,7995251,2805801,0,0,0,0,0,0,0,...,0,0,0,0,0,0,7,0.0,3.0,3.0
2,3,2804693,8059549,1,1,1,0,0,0,0,...,0,0,0,0,0,0,15,0.0,NaN,NaN
3,4,4812472,7332370,14,5,1,12,4,1,6,...,1,1,0,1,1,0,15,0.0,NaN,NaN
4,5,5009985,4511909,31,31,31,31,31,31,31,...,1,1,1,1,1,1,7,1.0,NaN,NaN

In [106]:
X_test2['nbrs1']=X_test2['is_chat'].fillna(0)
del X_test2['is_chat']

In [108]:
X_test2=pd.merge(X_test2,neighbors2,how='left',left_on='node2_id_left',right_index=True,suffixes=('_left', '_right'))

In [110]:
X_test2['nbrs2']=X_test2['is_chat'].fillna(0)
del X_test2['is_chat']
del X_test2['node1_id_right']

In [111]:
X_test2.columns

Index(['id', 'node1_id_left', 'node2_id_left', 'f1_left', 'f2_left', 'f3_left',
       'f4_left', 'f5_left', 'f6_left', 'f7_left', 'f8_left', 'f9_left',
       'f10_left', 'f11_left', 'f12_left', 'f13_left', 'f1_right', 'f2_right',
       'f3_right', 'f4_right', 'f5_right', 'f6_right', 'f7_right', 'f8_right',
       'f9_right', 'f10_right', 'f11_right', 'f12_right', 'f13_right', 'nbrs1',
       'nbrs2'],
      dtype='object')

In [112]:
X_test2=X_test2.loc[:,['f1_left', 'f2_left', 'f3_left',
       'f4_left', 'f5_left', 'f6_left', 'f7_left', 'f8_left', 'f9_left',
       'f10_left', 'f11_left', 'f12_left', 'f13_left', 'f1_right', 'f2_right',
       'f3_right', 'f4_right', 'f5_right', 'f6_right', 'f7_right', 'f8_right',
       'f9_right', 'f10_right', 'f11_right', 'f12_right', 'f13_right','nbrs1', 'nbrs2']].values

In [113]:
pred3=model3.predict(X_test2)
prediction3=pd.concat([testdata,pd.Series(pred3).astype('float32')],axis=1)

In [114]:
f=prediction3.loc[:,['id',0]]
f.to_csv('Submission7.csv',index=False)